.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	max-width: 40rem;
	padding: 1rem 3rem;
	margin: 3rem auto 6rem;
	border-radius: 10px;
	background-color: #ddd;
}

.li {
	list-style-type: none;
}
